<%- include('partials/header.html') %>
<div class="body-login">
    <section class="section-login">
        <form class="form-login" action="/login" method="post">
            <div class="form-auth">
                <h2>Entrar:</h2>
                <label for="usuario">Usuário:</label>
                <input type="text" name="usuario">
                <label for="senha">Senha:</label>
                <input type="password" name="senha">
            </div>
            <div class="form-btn">
                <button type="submit">Logar</button>
            </div>
        </form>
    </section>
</div>


<%- include('partials/footer.html') %>

    </body>
</html>